@tailwind base;
@tailwind components;
@tailwind utilities;

/* html body */
@layer base {
	body {
		@apply bg-[#141414] text-white;
	}

	header {
		@apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10;
	}
}
/* Custom class name */
@layer components {
	.navLink {
		@apply cursor-pointer text-sm font-light text-[#fff] hover:text-[#b3b3b3];
	}
}
